[submodule "lib/loveterm"]
	path = lib/loveterm
	url = https://github.com/foeb/loveterm
[submodule "lib/cranberry"]
	path = lib/cranberry
	url = https://github.com/foeb/cranberry.lua
[submodule "lib/serpent"]
	path = lib/serpent
	url = https://github.com/pkulchenko/serpent
